<!DOCTYPE html>

{% load static %}
{% load i18n %}

{% language "ru" %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{%  static "img/polyclinic-cross.png" %}">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
{% comment %}
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
{% endcomment %}
        <title>{% trans "Clinic" %}. {% block title_block %}{% endblock %}</title>
    </head>
    <body>
        {% block body_block %}{% endblock %}
        <script src="{% static 'js/jquery-2.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>
{% endlanguage %}
