{% extends "entrytodoc/base.html" %}

{% load i18n %}
{% load static %}

{% language "ru" %}

    {% block title_block %}
        {% trans "Personal cabinet." %}
    {% endblock %}

    {% block body_block %}
        <link href="{% static 'css/cabinet.css' %}" rel="stylesheet" media="screen">
            <div id="cabinet-menu">
                <ul class="nav nav-pills">
                    <li><label style="margin-top: 5px;">
                        {% block cabinet_title %}
                            {% trans "Cabinet" %}
                        {% endblock %}
                    </label></li>
                    <li class="dropdown pull-right">
                        <button type="button" data-toggle="dropdown" class="btn btn-success dropdown-toggle">{% trans "Menu" %} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="/entrytodoc/cabinet/">Начальная страница личного кабинета</a></li>
                            <li><a href="/entrytodoc/cabinet/change_personal_data">{% trans "Change your personal data" %}</a></li>
                            <li><a href="/entrytodoc/cabinet/order_letter/">{% trans "Order a letter" %}</a></li>
                            <li><a href="/entrytodoc/cabinet/show_your_letters">{% trans "Show your active letters" %}</a></li>
                            <li><a href="/entrytodoc/logout">{% trans "Logout"%}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            {% block cabinet_content %}
                <div class="cabinet_content">
                    <h1>Личный кабинет пациента</h1>
                    Пациент может:
                    <ol>
                        <li>Просмотреть и изменить свои персональные данные.</li>
                        <li>Заказать талон к врачу.</li>
                        <li>Просмотреть активные талоны.</li>
                    </ol>
                </div>
            {% endblock %}

    {% endblock %}

{% endlanguage %}