{% extends "entrytodoc/cabinet_patient.html" %}

{% load i18n %}
{% load static %}

{% language "ru" %}
    {% block cabinet_title %}
        {% trans "Change your personal data" %}
    {% endblock %}
    {% block cabinet_content %}
        <link href="{% static "css/change_personal_data.css" %}" rel="stylesheet" media="screen">
        <form id="change_personal_data" method="post" action="/entrytodoc/cabinet/change_personal_data/"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% if success %}
                <h1>{% trans "Your personal data were successfully updated!" %}</h1>
            {% else %}
                <div class="personal_data">
                    <table align="center">
                        {{ patient_form.as_table }}
                    </table>
                </div>
                <input type="submit" name="submit" value="{% trans "change my personal data" %}" /> <br />
            {% endif %}
        </form>
    {% endblock %}
{% endlanguage %}