{% extends "entrytodoc/base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load static %}

{% language "ru" %}

    {% block title_block %}
        {% trans "Main page." %}
    {% endblock %}

    {% block body_block %}
        <link href="{% static 'css/index.css' %}" rel="stylesheet" media="screen">
        <div class="index-body-content">
            {% if user.is_authenticated %}
                <h1>{% trans "Welcome to clinic" %}, {{ user.username }}!</h1>
                <a href="/entrytodoc/cabinet/"><h4>{% trans "Personal cabinet" %}</h4></a><br />
                <a href="/entrytodoc/logout/"><h4>{% trans "Logout" %}</h4></a><br />
            {% else %}
                <h1>{% trans "Welcome to clinic" %}, {% trans "anon" %}!</h1>
                <a href="/entrytodoc/register/"><h4>{% trans "Register here" %}</h4></a> <br/>
                <a href="/entrytodoc/login/"><h4>{% trans "Login" %}</h4></a>
            {% endif %}
        </div>
    {% endblock %}

{% endlanguage %}

