{% extends "entrytodoc/base.html" %}

{% load i18n %}
{% load static %}
{% language "ru" %}

    {% block title_block %}
        {% trans "Login." %}
    {% endblock %}

    {% block body_block %}
        <link href="{% static "css/login.css" %}" rel="stylesheet" media="screen">
        <h1>{% trans "Login to clinic" %}</h1>
        <form id="login_form" method="post" action="/entrytodoc/login/">
            {% csrf_token %}
            <div class="login_table">
                <table align="center">
                    <tr align="left">
                        <td>{% trans "Username: " %}</td>
                        <td><input type="text" name="username" value="" size="50" /></td>
                    </tr>
                    <tr align="left">
                        <td>{% trans "Password: " %}</td>
                        <td><input type="password" name="password" value="" size="50" /></td>
                    </tr>
                </table>
            </div>
            <input type="submit" value="{% trans "Enter" %}" />
        </form>
    {% endblock %}

{% endlanguage %}
