{% extends "entrytodoc/cabinet_patient.html" %}

{% load i18n %}
{% load static %}

{% language "ru" %}

    {% block cabinet_title %}
        {% trans "Order a letter" %}
    {% endblock %}

    {% block cabinet_content %}
        <link href="{% static "css/order_letter.css" %}" rel="stylesheet" media="screen">
        <form id="order_letter" method="post" action="/entrytodoc/cabinet/order_letter/"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% if state.name == "P" %}
                <h1>Выберите поликлинику, в которой вы хотите записаться на приём:</h1>
                <div class="content">
                    {% for polyclinic in order_letter_form.polyclinics %}
                        <div class="polyclinic_radio">
                            {{ polyclinic }}
                        </div>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <input class="choose_button pull-right" type="submit" name="submit" value="{% trans "Choose" %}" />
                </div>
            {% elif state.name == "D" %}
                <h1>Выберите доктора, к которому вы хотите записаться на приём:</h1>
                <div class="content">
                    {% for doctor in order_letter_form.doctors %}
                        <div class="doctor_radio">
                            {{ doctor }}
                        </div>
                    {% endfor %}
                </div>
                <div class="buttons">
                    <button class="back_button pull-left" type="submit" name="back" value="prev_state">{% trans "Back" %}</button>
                    <input class="choose_button pull-right" type="submit" name="submit" value="{% trans "Choose" %}" />
                </div>
            {% elif state.name == "SCH" %}
                <h1>Выберите дату, на которую вы хотите взять талон:</h1>
                <div class="calendar_table">
                    <table border="1" align="center">
                        <tr>
                            {% for weekday in schedule.weekdays %}
                                <td>{% trans weekday %}</td>
                            {% endfor %}
                        </tr>
                        {% for week in schedule.dates %}
                            <tr>
                                {% for day in week %}
                                    <td>
                                        {% if day.is_inactive %}
                                            <button class="btn btn-fail" disabled="disabled">{{ day.date|date:"d M" }}</button>
                                        {% else %}
                                            <button class="btn btn-success" type="submit" value="{{ day.date|date:"Y-m-d" }}" name="get_date">{{ day.date|date:"d M" }}</button>
                                        {% endif %}

                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="buttons">
                    <button class="back_button pull-left" type="submit" name="back" value="prev_state">{% trans "Back" %}</button>
                </div>
            {% elif state.name == "L" %}
                <h1>Выберите время, на которое вы хотите взять талон:</h1>
                <div class="letters_table">
                    <table border="1" align="center">
                        {% for letters_row in letter_times%}
                            <tr>
                                {% for letter in letters_row %}
                                    <td>
                                        {% if not letter.can_take %}
                                            <button class="btn btn-fail" disabled="disabled">{{ letter.time|time:"H:i" }}</button>
                                        {% else %}
                                            <button class="btn btn-success" type="submit" value="{{ letter.letter_id }}" name="get_letter_id">{{ letter.time|time:"H:i" }}</button>
                                        {% endif %}

                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="buttons">
                    <button class="back_button pull-left" type="submit" name="back" value="prev_state">{% trans "Back" %}</button>
                </div>
            {% elif state.name == "E" %}
                <h1 class="success_end">{% trans "Letter was successfully ordered" %}!</h1><br />
            {% else %}
                <h1>BAD</h1>
            {% endif %}

        </form>
    {% endblock %}

{% endlanguage %}
