{% extends "entrytodoc/base.html" %}

{% load i18n %}
{% language "ru" %}

    {% block title_block %}
        {% trans "Registration." %}
    {% endblock %}

    {% block body_block %}
        {% if registered %}
            <div class="end_of_registration" style="text-align: center;">
                <h1>{% trans "Thank you for registering!" %}</h1>
                <a href="/entrytodoc/">{% trans "Return to the homepage." %}</a><br />
            </div>
        {% else %}
            <h1 style="text-align: center;">Регистрация пациента в поликлинике:</h1>
            <form id="user_form" method="post" action="/entrytodoc/register/"
                  enctype="multipart/form-data" style="text-align: center;">

                {% csrf_token %}
                <div class="registration-table" style="padding: 10px;">
                    <table align="center" >
                        {{ user_form.as_table }}
                        {{ patient_form.as_table }}
                    </table>
                </div>

                <input type="submit" name="submit" value="{% trans "Register" %}" />
            </form>
        {% endif %}
    {% endblock %}

{% endlanguage %}