{% extends "entrytodoc/cabinet_patient.html" %}

{% load i18n %}
{% language "ru" %}
    {% block cabinet_title %}
       {% trans "Show your active letters" %}
    {% endblock %}
    {% block cabinet_content %}
        <form id="show_your_letters" method="post" action="/entrytodoc/cabinet/show_your_letters/" enctype="multipart/form-data">
            {% csrf_token %}
            {% if is_empty %}
                <h1 style="text-align: center;">{% trans "You have no active letters" %}</h1> <br />
            {% else %}
                <ul class="list-group">
                    {% for active_letter in active_letters %}
                        <li class="list-group-item">
                            {{ active_letter.doc_name }}, {{ active_letter.doc_spec|lower }}, {{ active_letter.date }}, {{ active_letter.time|time:"H:i" }} <br />
                            <button type="submit" name="cancel_letter" value="{{ active_letter.letter_id }}">{% trans "cancel the letter" %}</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    {% endblock %}
{% endlanguage %}