{% extends "entrytodoc/cabinet_doctor.html" %}

{% load i18n %}
{% language "ru" %}
    {% block cabinet_title %}
        {% trans "Show my personal data" %}
    {% endblock %}
    {% block cabinet_content %}
        <form id="show_my_personal_data" method="get" action="/entrytodoc/cabinet/show_my_personal_data/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="personal_data" style="padding: 10px;">
                <table align="center">
                    {{ doctor_form.as_table }}
                </table>
            </div>
        </form>
    {% endblock %}
{% endlanguage %}