{% extends "entrytodoc/cabinet_doctor.html" %}

{% load i18n %}
{% language "ru" %}
    {% block cabinet_title %}
       {% trans "Show my patients" %}
    {% endblock %}
    {% block cabinet_content%}
        <form id="show_my_patients" method="post" action="/entrytodoc/cabinet/show_my_patients/" enctype="multipart/form-data">
            {% csrf_token %}
            {% if is_empty %}
                <h1 style="text-align: center;">{% trans "You have no patients" %}</h1> <br />
            {% else %}
                <ul class="list-group">
                    {% for patient_letter in patient_letters %}
                        <li class="list-group-item">
                            {{ patient_letter.full_name }}, {{ patient_letter.date }}, {{ patient_letter.time|time:"H:i" }}, <br />
                            {% trans "assurance number" %}: {{ patient_letter.assurance_num }}, {% trans "phone number" %}: {{ patient_letter.phone_num }} <br />
                            <button type="submit" name="take_patient" value="{{ patient_letter.letter_id }}">{% trans "take the patient" %}</button>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    {% endblock %}
{% endlanguage %}
