.content {
    padding-left: 40px;
}

.back_button {
    margin-left: 40px;
}

.choose_button {
    margin-right: 40px;
}
.calendar_table {
    padding: 20px;
}

.success_end {
    text-align: center;
}